<!DOCTYPE html>
<html>
  <head>
    <title>Buster's Best Bowling Alley</title>
  </head>
  <body>
    <h1>Buster's Best Bowling Alley</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <p>Come to Bustler's for all your bowling needs! Whether it's a birthday party, a get together fo</p>
    <br>
    <br>
    <h3>Location:</h3>
    <p>97 Bowling Alley Lane, Boulder CO </p>
  </body>
</html>